@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

$inter: 'Inter', sans-serif;
$lexend: 'Lexend Deca', sans-serif;
$gray: rgb(255, 255, 255, .75);

html, body {
    box-sizing: border-box;
    background-color: #1B1937;
    padding: calc(88/16)rem, calc(24/16)rem;
    font-size: calc(15/16)rem;
    font-family: $inter;
    font-weight: 400;
    text-align: center;
    color: $gray;
}

.center-flex {
    display: flex;
    align-items: center;    
    justify-content: center;
    flex-direction: column;
}

.container {
    @extend .center-flex;
}

.component {
    @extend .center-flex;
}

.component-typography {
    @extend .center-flex;
}

h1 {
    font-size: calc(28/16)rem;
    line-height: calc(32/16)rem;
    font-family: $inter;
    font-weight: 700;
    color: white;
}


