@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

$inter: 'Inter', sans-serif;
$lexend: 'Lexend Deca', sans-serif;
$purple: #AB5CDB;
$light-gray: rgb(255, 255, 255, .75);
$dark-gray: rgb(255, 255, 255, .6);
$rem-base: 16px;


//Function borrowed from Foundation, thanks Loosie94 of StackOverflow
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function convert-to-rem($value, $base-value: $rem-base)  {
    $value: strip-unit($value) / strip-unit($base-value) * 1rem;
    @if ($value == 0rem) { 
        $value: 0;
     } // Turn 0rem into 0
    @return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
    $max: length($values);
    @if $max == 1 { 
        @return convert-to-rem(nth($values, 1), $base-value); 
    }
    $remValues: ();
    @for $i from 1 through $max {
        $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
    }
    @return $remValues;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: border-box;
    font-family: $inter;
    font-weight: 400;
    color: $light-gray;
    text-align: center;
    background-color: #090b1a;
}

.center-flex {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}

.container {
    @extend .center-flex;
    height: 100%;
}

.component, .header-img {
    width: rem-calc(327);
}

.component {
    @extend .center-flex;
    background-color: #1B1937;
    height: rem-calc(780);
    border-radius: rem-calc(8);
    margin: rem-calc(88 24);
}

.header-img {
    background: $purple url("../images/image-header-mobile.jpg") center center / cover;
    background-blend-mode: multiply;
    min-height: math.percentage(math.div(240px,780px));
    border-radius: rem-calc(8 8 0 0);
    order: 1;
}

.component-typography {
    max-height: math.percentage(math.div(540px,780px));  
    padding: rem-calc(40 32 32 32);
    order: 2;
}

h1 {
    font-size: rem-calc(28);
    font-family: $inter;
    font-weight: 700;
    line-height: rem-calc(32);
    color: white;
}

h2, p {
    line-height: rem-calc(25);
}

h2 {
    font-size: rem-calc(12);
    font-family: $lexend;
    color: $dark-gray;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: rem-calc(3 0 24 0);
}

.no-padding-h2 {
    @extend h2;
    padding: rem-calc(2 0 0 0);
}

p {
    font-size: rem-calc(15);
    padding: rem-calc(16 0 40 0);
}

em {
    color: $purple;
    font-style: normal;
}

.attribution {
    font-size: rem-calc(10);
    position: fixed;
    left: 50%;
    bottom: rem-calc(5);
    transform: translate(-50%, -50%);
}

.attribution a {
    color: $purple;
}

